body {
    background-color: hsl(212, 45%, 89%)
}

h1 {
    text-align: center;
    width: 80%;
    position: relative;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: hsl(218, 44%, 22%);
}

.white-tag {
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    height: 500px;
    width: 280px;
    border-radius: 30px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    width: 80%;
    position: relative;
    margin: 30px auto;
    color: hsl(220, 15%, 55%)
}

.QR {
    width: 250px;
    position: relative;
    margin: 15px;
    border-radius: 15px;
}